<div class="jumbotron text-center">
  <h1>Enzyke Jolmenoph</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express</h3>
    <p>Taiyaki paleo lomo, hexagon photo booth williamsburg actually cray poke organic freegan squid. </p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Squid ennui microdosing man bun blog raw denim. </p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Thundercats ethical humblebrag pinterest gastropub flexitarian, mumblecore whatever 3 wolf moon vaporware aesthetic street art green juice fixie.</p>
  </div>
</div>
